html,
body {
  background-color: $blue;
  color: $white;
  font-family: $sans;
  font-size: 16px;
  font-weight: $regular;
  line-height: 1.5;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: $transparent;
}

a {
  color: $white;
  text-decoration: underline $white;
  transition: 0.2s ease all;

  &:hover {
    opacity: 0.5;
    color: white;
    text-decoration: underline $white;
  }
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

::selection {
  background-color: $blue;
  color: $white;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}
