$green: #438D1F;
$light-green: #E5EEE1;
$blue: #0273E1;

$black: #222222;
$dark-gray: #777777;
$gray: #8B8B8B;
$light-gray: #E5E5E5;
$ultra-light-gray: #F5F5F5;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);
