$text-content-width: 45rem;
$content-width: 60rem;
$content-padding: 1.5rem;

section {
  padding: 4rem 0;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .main {
    padding: 3rem;
    flex: 1;
    max-width: $content-width;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .sidebar {
    flex: 0;
  }
}

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 $content-padding;
  width: 100%;
}

@media screen and (max-width: $tablet-portrait-max) {
  body {
    .main {
      padding: 3rem 1.5rem 1.5rem 0;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  body {
    flex-direction: column;

    .main {
      padding: 0 3rem 1.5rem;
    }
  }
}

@media screen and (max-width: $phone-portrait-max) {
  body .main {
    padding: 0 1.5rem 1.5rem;
  }
}
