nav {
  padding: 3rem;

  h1 {
    white-space: nowrap;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  img {
    border-radius: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0 1rem 0.75rem 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      @extend %h4;
      color: $black;
      text-decoration: none;
      transition: 0.2s ease color;

      &:hover {
        color: $green;
      }
    }
  }
}

.page-work .work, .page-collaborators .collaborators {
  color: $green;
}


@media screen and (max-width: $tablet-landscape-max) {
  nav {
    align-items: center;
    display: flex;

    .photo {
      margin-right: 3rem;
      width: 12rem;
    }
  }
}

@media screen and (max-width: $phone-portrait-max) {
  nav {
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;

    .photo {
      width: 100%;
      margin-bottom: 1rem;
    }

    .text {
      width: 100%;
    }

    ul {
      justify-content: flex-start;
    }

    li {
      margin-right: 1.5rem;
    }
  }
}
