.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

nav {
  padding: 3rem;

  h1 {
    white-space: nowrap;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0 1rem 0.75rem 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      @extend %h4;
      color: $white;
      transition: 0.2s ease text-decoration-color;
      text-decoration: underline;
      text-decoration-color: transparent;

      &:hover {
        color: $white;
        text-decoration: underline;
        text-decoration-color: white;
      }
    }
  }
}

.page-work .work,
.page-collaborators .collaborators {
  color: $green;
}

@media screen and (max-width: $tablet-landscape-max) {
  nav {
    align-items: center;
    display: flex;
  }
}

.flag {
  background-color: $flag-tan;
  border-left: 0.5rem solid $flag-orange;
  border-right: 0.5rem solid $flag-red;
  display: block;
  height: 0.9rem;
  margin: 6rem auto 0;
  width: 1.5rem;
}

.photo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  max-width: 30rem;
  z-index: 1;

  img {
    display: block;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  nav {
    align-items: flex-start;

    ul {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .photo {
    position: relative;
    display: block;
  }
}
@media screen and (max-width: $phone-portrait-max) {
  nav {
    flex-direction: column;
    padding: 1.5rem;

    .text {
      width: 100%;
    }

    li {
      margin-right: 1.5rem;
    }
  }
}
