// Font weights
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Playfair Display", Georgia, serif;

h1,
%h1 {
  font-family: $serif;
  font-size: 3rem;
  font-weight: $medium;
}

h2,
%h2,
p,
ul li {
  font-family: $serif;
  font-size: 2rem;
  font-weight: $medium;
  line-height: 1.5;
  margin-bottom: 2rem;
}

h3,
%h3 {
  color: $blue;
  font-family: $serif;
  font-size: 2rem;
  font-weight: $regular;
  margin-bottom: 1.5rem;
}

h4,
%h4 {
  font-family: $sans;
  font-size: 1rem;
  font-weight: $semi-bold;
}

h5,
%h5 {
  font-family: $sans;
  font-size: 1rem;
  font-weight: $semi-bold;
}

h6,
%h6 {
  color: $green;
  font-family: $sans;
  font-size: 0.65rem;
  font-weight: $semi-bold;
  line-height: 1.65;
  text-transform: uppercase;
}

strong {
  font-weight: $bold;
}

@media screen and (max-width: $tablet-portrait-max) and (min-width: $phone-landscape-max) {
  h2,
  %h2,
  p,
  ul li {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  h1,
  %h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h2,
  %h2,
  p,
  ul li {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  h4,
  %h4 {
    font-size: 0.875rem;
  }
}
