{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-home{{/content}}
{{#content "main" mode="prepend"}}
<p>Page not found.</p>
<p>Double check your link, or head <a href="/">home</a>.</p>
{{/content}}
{{/extend}}
