{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-home{{/content}}
{{#content "main" mode="prepend"}}
<p>Writer, performer, and poet based in NYC. My new show premieres at the <a target="_blank"
    href="https://tickets.edfringe.com/whats-on/read-for-filth">Edinburgh Fringe Festival</a> this August!</p>
<p><em>Read for Filth</em> is a blend of comedy,
  poetry, and storytelling with a bent towards mental health. Nightly performances run August 5th&ndash;20th. <a
    target="_blank" href="https://tickets.edfringe.com/whats-on/read-for-filth">You can get
    tickets here.</a></p>
<p>I work freelance as a writer and editor and you can hire me as a DM <a target="_blank"
    href="https://startplaying.games/gm/gm-nathansavoy">here</a>. Want to
  chat? <a target="_blank" href="mailto:nathanielsavoy@gmail.com" title="Shoot me an email.">Shoot me an email.</a></p>
{{/content}}
{{/extend}}
