{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-home{{/content}}
{{#content "main" mode="prepend"}}
<p>Writer, performer, and poet based in NYC. Currently, masters student at <a target="_blank" href="http://www.nyu.edu/">NYU</a> studying <a target="_blank" href="https://medium.com/@nathanielsavoy/what-the-hell-is-speedrunning-an-introduction-for-the-rest-of-us-45ffd55f5f30">video games and culture.</a></p>
<p>I believe that stories connect us on a human level, and that my work is a small piece of making a better world.</p>
<p>I work freelance as a writer, editor, and brand consultant. Want to chat? <a href="mailto:nathanielsavoy@gmail.com" title="Shoot me an email.">Shoot me an email.</a></p>
{{/content}}
{{/extend}}
