{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-work{{/content}}
{{#content "main" mode="prepend"}}
<ul>
    <li>
        <h6>Writing</h6>
        <a target="_blank"
           href="https://medium.com/@nathanielsavoy/baby-legs-meet-regular-legs-712f1f35bfc1"
           title="Baby Legs? Meet Regular Legs: How Rick and Morty puts us inside the joke">
            Baby Legs? Meet Regular Legs: How Rick and Morty puts us inside the joke
        </a>
    </li>
    <li>
        <h6>Writing</h6>
        <a target="_blank"
           href="https://medium.com/@nathanielsavoy/what-the-hell-is-speedrunning-an-introduction-for-the-rest-of-us-45ffd55f5f30"
           title="What the Hell is Speedrunning? An Introduction for the Rest of Us">
            What the Hell is Speedrunning? An Introduction for the Rest of Us
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank"
           href="poetry.nathansavoy.com/my-brothers-favorite-view/">
            My Brother&#x27;s Favorite View
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank"
           href="poetry.nathansavoy.com/ashlands/">
            Ashlands
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank"
           href="poetry.nathansavoy.com/mangrove-roots-otter-play/">
            Mangrove Roots &amp; Otter-play
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank"
           href="https://poetry.nathansavoy.com/celestial-navigation-by-a-tropicana-sun/">
            Celestial Navigation by a Tropicana Sun
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank"
           href="poetry.nathansavoy.com/love-is-not-a-peer-review">
            Love is Not a Peer Review
        </a>
    </li>
</ul>
{{/content}}
{{/extend}}
