{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-work{{/content}}
{{#content "main" mode="prepend"}}
<ul>
    <li>
        <h6>Poetry</h6>
        <a target="_blank" href="https://poetry.nathansavoy.com/my-brothers-favorite-view/">
            My Brother&#x27;s Favorite View
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank" href="https://poetry.nathansavoy.com/ashlands/">
            Ashlands
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank" href="https://poetry.nathansavoy.com/mangrove-roots-otter-play/">
            Mangrove Roots &amp; Otter-play
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank" href="https://poetry.nathansavoy.com/celestial-navigation-by-a-tropicana-sun/">
            Celestial Navigation by a Tropicana Sun
        </a>
    </li>
    <li>
        <h6>Poetry</h6>
        <a target="_blank" href="https://poetry.nathansavoy.com/love-is-not-a-peer-review">
            Love is Not a Peer Review
        </a>
    </li>
    <li>
        <h6>Chapbook</h6>
        <a target="_blank" href="/pdf/Spliff-Down-River-Beautiful.pdf" title="Spliff Down, River Beautiful">
            Spliff Down, River Beautiful
        </a>
    </li>
    <li>
        <h6>Writing</h6>
        <a target="_blank" href="/pdf/Playing-Along.pdf" title="Playing Along">
            Playing Along
        </a>
    </li>
    <li>
        <h6>Writing</h6>
        <a target="_blank"
            href="https://medium.com/@nathanielsavoy/what-the-hell-is-speedrunning-an-introduction-for-the-rest-of-us-45ffd55f5f30"
            title="What the Hell is Speedrunning? An Introduction for the Rest of Us">
            What the Hell is Speedrunning? An Introduction for the Rest of Us
        </a>
    </li>
</ul>
{{/content}}
{{/extend}}
