{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-collaborators{{/content}}
{{#content "main" mode="prepend"}}
<p class="nowrap-a">I collaborate with a wide range of artists, writers, technicians, and game designers, including <a
        target="_blank" href="https://schlosser.io">Dan
        Schlosser</a>, <a target="_blank" href="http://isaaclevien.com">Isaac Levien</a>, <a target="_blank"
        href="http://jacobpaulson.com/">Jacob Paulson</a>, <a target="_blank" href="https://aidanoconnell.co/">Aidan
        O'Connell</a>, and <a target="_blank" href="https://conordemari.com">Conor De Mari</a>.
</p>
<p>Interested in collaborating? <a target="_blank" href="mailto:nathanielsavoy@gmail.com"
        title="Shoot me an email.">Shoot me an email.</a>
</p>
{{/content}}
{{/extend}}
