{{#extend "base"}}
{{#content "bodyClass" mode="prepend"}}page-collaborators{{/content}}
{{#content "main" mode="prepend"}}
<ul>
    <li>
        <a target="_blank" href="https://aidanoconnell.co/">Aidan O'Connell</a>
    </li>
    <li>
        <a target="_blank" href="https://conordemari.com">Conor De Mari</a>
    </li>
    <li>
        <a target="_blank" href="https://schlosser.io">Dan Schlosser</a>
    </li>
    <li>
        <a target="_blank" href="http://isaaclevien.com">Isaac Levien</a>
    </li>
    <li>
        <a target="_blank" href="http://jacobpaulson.com/">Jacob Paulson</a>
    </li>
</ul>
{{/content}}
{{/extend}}


