<nav class="sidebar">
    <div>
        <a class="photo" href="/"><img src="/img/nathan-poster.jpg" alt="Headshot"></a>
        <div class="text">
            <h1><a href="/">Nathan Savoy</a></h1>
            <ul>
                <li><a class="work" href="/work" title="Work">Work</a></li>
                <li><a class="collaborators" href="/collaborators" title="Collaborators">Collaborators</a></li>
                <li><a href="mailto:nathanielsavoy@gmail.com" title="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
